body {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}


$mask:rgba(0, 0, 0, 0.3);
$fontColor :rgba(255, 255, 255, 0.8);
$bgColor:rgba(0, 0, 0, 0.7);
$bgColor2:rgba(255, 255, 255, 0.5);

$hoverFontColor:rgba(44, 44, 44, 1);
$hoverBgColor:rgba(211, 211, 211, 1);

$sakuraIro:#ffaaee;
$sakuraIro2:#ff88cc;

$remAo:#91bef0;
$remAo2:#6eb1fd;

:root {
  --backgroundColor-theme: #ffaaee;
  --backgroundColorHover-theme: #ff88cc;
  --color-theme: #ff88cc;
  --colorHover-theme: #ff88cc;
}

$acgnThemeBGColor:var(--backgroundColor-theme);
$acgnThemeBGColorHover:var(--backgroundColorHover-theme);
$acgnThemeColor:var(--color-theme);
$acgnThemeColorHover:var(--colorHover-theme);

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: $acgnThemeColor;
}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: transparent;
}

input,
select {
  font-size: 20px;
  padding: 3px;
  color: $bgColor;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  margin: 15px 0 0 0;
  transition: 0.2s ease-in-out;
  border-radius: 5px;

  &:focus {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.03);
  }
}

textarea {
  font-family: '微软雅黑';
  font-size: 17px;
  padding: 3px;
  color: $bgColor;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  margin: 15px 0 0 0;
  border-radius: 5px;
  min-width: 300px;
  min-height: 300px;
  max-width: 400px;

  &:focus {
    border: none;
    outline: none;
    transition: 0.2s ease;
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.03);
  }
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
}


.image-manage-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
  z-index: 1998;
}

.acgn-form-item-label {
  font-size: 18px;
}

.acgn-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.acgn-form-box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid $fontColor;
  min-width: 400px;
  flex: 0 0 40%;
  padding: 5% 2%;
  margin: 2% 0;
  background-color: rgba(0, 0, 0, 0.4);

  &:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  }
}

.acgn-form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  height: auto;
  margin-bottom: 25px;

  ::v-deep {
    .el-radio__input.is-checked+.el-radio__label {
      color: $acgnThemeColor;
    }

    .el-radio__input.is-checked .el-radio__inner {
      border-color: $acgnThemeColor;
      background: $acgnThemeColor;
    }

    .el-upload-dragger {
      width: auto;
      height: auto;
    }

    .el-upload-list__item {
      background-color: rgba(255, 255, 255, 0);
      width: 30%;
      height: auto;
    }

    .el-upload--picture-card {
      width: 150px;
      height: 150px;
      background-image: url("http://localhost:9810/acgnrecord/defaultImage/sora.png");
    }

    .el-carousel__mask {
      display: none;
    }
  }
}

.el-rate__item {
  .el-rate__icon {
    color: $acgnThemeColor !important;
  }
}

.el-message,
.el-message--warning,
.el-message--success,
.el-message--error {
  background-color: $bgColor;
  min-width: 200px;
  justify-content: center;
  padding-right: 20px;
}